# Binaries
k8s-viz
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/


# Prerequisites
ui/node_modules/
ui/dist/

# Build artifacts (if you build the Go binary)
bin/
*.exe
*.test

# Local environment secrets
.env
.env.local